body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.fontTitle {
    font-size: 32px;
    color:midnightblue
}

.fontRed {
    font-size: 32px;
    color: red
}

.fontBlue {
    font-size: 32px;
    color: blue
}

.divForm {
    margin: 0 auto;
    width: 90%;
    text-align: center
}

.fontSutitle {
    font-size: 26px;
    color: red
}

.margin {
    margin-bottom: 45px;
}

.imgRound {
    width: 250px;
    height: 150px;
}

.background {
    height: 370px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}


}

#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

    #myTable th, #myTable td {
        text-align: center;
        padding: 12px; /* Add padding */
    }

    #myTable tr {
        /* Add a bottom border to all table rows */
        border-bottom: 1px solid #ddd;
    }

    #myTable tr.header {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
    }